@model SneakerShop.Models.Product
<div class="container">
    <div class="card">
        <p>
            <h1>Add new sneaker</h1>
        </p>
        <form action="AddProduct" method="post">
            <br />
            Product Name:
            <br />
            <input name="ProductName" type="text" />
            <br />
            Product Description:
            <br />
            <input name="ProductDescription" type="text" />
            <br />
            Price:
            <br />
            <input name="Price" type="text" />
            <br />
            Product Picture URL:
            <br />
            <input name="ProductPictureURL1" type="text" />
            <br />
            <input name="ProductPictureURL2" type="text" />
            <br />
            <input name="ProductPictureURL3" type="text" />
            <br />
            Quantity:
            <br />
            <input name="Qnt" type="text" />
            <br />
            Category:
            <br />
            <input name="Category" type="text" />
            <br />
            Size:
            <br />
            <input name="Size" type="text" />
            <br />
            <input type="submit" value="Add Sneaker" />
        </form>
    </div>

</div>
