<body style="background-image: url(../assets/bg.jpg); background-size: cover;">
    <section class="py-3 py-md-5">
        <div class="container bg-white" style="--bs-bg-opacity: .7; backdrop-filter: blur(20px); border-radius:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6 col-xl-5">
                    <img class="img-fluid rounded" src="https://i.ibb.co/pWTHmVn/Untitled.png" alt="About 1">
                </div>
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-11">
                            <h1 class="mb-3">ABOUT SNEAKERSHOP</h1>
                            <p class="lead fs-3 text-secondary mb-3">At SneakerShop, we're more than just a footwear destination - we're a gateway to self-expression and individuality.</p>
                            <p class="mb-5 fs-5"> Our curated collection ensures that every step you take is a statement of style. Discover the essence of sneaker culture with us today.</p>
                            <div class="row gy-4 gy-md-0 gx-xxl-5X">
                                <div class="col-12 col-md-6">

                                    <div class="d-flex">
                                        <h3>
                                            <span class="badge bg-dark rounded-pill me-3">
                                                <i class="fa-brands fa-github"></i>
                                                <a href="https://github.com/tomernetzer14" class="ms-2 text-decoration-none text-white">Tomer</a>
                                            </span>
                                        </h3>

                                        <h3>
                                            <span class="badge bg-dark rounded-pill me-3">
                                                <i class="fa-brands fa-github"></i>
                                                <a href="https://github.com/AdivEliyahu" class="ms-2 text-decoration-none text-white">Adiv</a>
                                            </span>
                                        </h3>

                                        <h3>
                                            <span class="badge bg-dark rounded-pill me-3">
                                                <i class="fa-brands fa-github"></i>
                                                <a href="https://github.com/ItayDosik" class="ms-2 text-decoration-none text-white">Itay</a>
                                            </span>
                                        </h3>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
