﻿@using Microsoft.AspNetCore.Identity;
@using SneakerShop.Models.Data
@using System.Security.Claims;
@inject SignInManager<Users> signInManager;
@inject AppDbContext db;
@inject IHttpContextAccessor HttpContextAccessor;
@inject SneakerShop.Services.IProductService ProductService;

<style>

    #lblCartCount {
        position: absolute;
        font-size: 12px;
        background: #1E90FF;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -5px;
        margin-top: -4px;
    }
</style>

@{
    int NumOfProducts = 0;
    List<CartItem> cartItems = new List<CartItem>();
    if (signInManager.IsSignedIn(User))
    {
        var userID = User.FindFirstValue(ClaimTypes.NameIdentifier);
        cartItems = ProductService.GetCartItems(userID);
        NumOfProducts = cartItems.Count();
    }
    else
    {
        var cartSession = HttpContextAccessor.HttpContext.Session.GetString("cart");
        if (cartSession != null)
        {
            int cartSessionID = int.Parse(cartSession);
            Cart userCart = (from cart in db.Carts
                             where cart.CartId == cartSessionID
                             select cart).FirstOrDefault();
            if (userCart != null)
            {
                cartItems = (from item in db.CartItems
                             where item.CartId == userCart.CartId
                             select item).ToList();
            }

            if (cartItems != null)
            {
                NumOfProducts = cartItems.Count();
            }

        }
    }


}
<ul class="navbar-nav">
    <div class ="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <a class="nav-link" asp-action="Index" asp-controller="Cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="nav-link me-2" style="font-size: 20px;">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class='badge badge-warning' id='lblCartCount'> @NumOfProducts </span>
            </span>
        </a>

    </div>
    @if (signInManager.IsSignedIn(User))
    {


        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar-dark">

            <li class="nav-link">Hello, @User.Identity.Name </li>


            <a class="nav-link" asp-action="Logout" asp-controller="Account">
                    Logout

            </a>
        </div>
        
    }
    else
    {
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login </a>
            </li>
        </div>

    }
</ul>






