﻿@using Microsoft.AspNetCore.Identity;
@using SneakerShop.Models.Data
@using System.Security.Claims;
@inject SignInManager<Users> signInManager;
@inject AppDbContext db;

<style>
    .badge {
        padding-left: 9px;
        padding-right: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
    }


    #lblCartCount {
        position: absolute;
        font-size: 12px;
        background: #1E90FF;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px;
    }
</style>

@{
    int NumOfProducts = 0;
    List<CartItem> cartItems = null;
    if (signInManager.IsSignedIn(User))
    {
        var userID = User.FindFirstValue(ClaimTypes.NameIdentifier);

        Cart userCart = (from cart in db.Carts
                         where cart.UserId == userID
                         select cart).FirstOrDefault();
        if (userCart != null)
        {
            cartItems = (from item in db.CartItems
                         where item.CartId == userCart.CartId
                         select item).ToList();
        }

        if (cartItems != null)
        {
            NumOfProducts = cartItems.Count();
        }

    }

}
<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {

        <div class="container">
            <a class="nav-link" asp-action="Index" asp-controller="Cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                <span style="font-size: 20px; color: white;">
                    <i class="fa-solid fa-cart-shopping nav-link"></i>
                    <span class='badge badge-warning' id='lblCartCount'> @NumOfProducts </span>
                </span>
            </a>

        </div>

        <div class="container" style="white-space: nowrap;">
            <li class="nav-link">Hello, @User.Identity.Name </li>
        </div>





        <a class="nav-link" asp-action="Logout" asp-controller="Account">
                Logout

        </a>

        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login </a>
        </li>
    }
</ul>






