html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.card .img-fit {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card{
    height: 100%;
}

.card-body{
    display:flex;
    height:100%;
    flex-direction:column;
}

.card-title {
    height: 2.4em; /* Height for two lines */
    line-height: 1.2em; /* Line height for each line */
    overflow: hidden; /* Hides overflow */
    text-overflow: ellipsis; /* Displays ellipsis (...) for overflow */
    margin-bottom: 8px; /* Remove default margin to avoid extra spacing */
}

.card-text{
    flex-grow: 1;
}

@media (max-width: 767.98px){
    .card .img-fit{
        aspect-ratio: 1.45 / 1;
    }
}

